@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.article {
  background-color: whitesmoke;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: -1.2rem;
}
.article__Head--Title {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  margin-left: 2%;
}
.article__Bloc {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 2%;
}

.article__Container {
  width: 45%;
  margin: 2%;
  border-radius: 20px;
  box-shadow: 2px 2px 5px #969696;
}

@media (max-width: 768px) {
  .article__Head--Title {
    font-size: 1.7rem;
    font-family: "Roboto", sans-serif;
    margin-left: 2%;
  }
  .article__Bloc {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
  }

  .article__Container {
    width: 90%;
    margin: 2%;
    border-radius: 20px;
    margin-bottom: 5%;
  }
}
@media screen and (max-device-width: 480px) {
  .article__Head--Title {
    font-size: 1.2rem;
  }
}
@keyframes roll {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  100% {
    transform: scaleY(1);
  }
}
.article__Icon {
  display: flex;
  margin-top: -10px;
  cursor: pointer;
}
.article__Icon .far {
  font-size: 2.5rem;
  margin-bottom: 10%;
  color: #9356DC;
}
.article__Icon .fas {
  font-size: 2.5rem;
  margin-bottom: 10%;
  color: #9356DC;
}
.article__Icon .far + .fas {
  position: relative;
  left: -2.5rem;
  transform: scale(0);
  cursor: pointer;
  transform-origin: center;
}
.article__Icon:hover .far {
  transform: scale(1);
  transition: transform 400ms;
  transform-origin: center;
}
.article__Icon:hover .far + .fas {
  transform: scale(1);
  transition: transform 400ms;
  transform-origin: center;
}

@media screen and (max-device-width: 768px) {
  .article__Icon {
    display: flex;
    margin-top: -10px;
    cursor: pointer;
  }
  .article__Icon .far {
    font-size: 2rem;
    margin-bottom: 10%;
    color: #9356DC;
  }
  .article__Icon .fas {
    font-size: 2rem;
    margin-bottom: 10%;
    color: #9356DC;
  }
  .article__Icon .far + .fas {
    position: relative;
    left: -2rem;
    transform: scale(0);
    cursor: pointer;
    transform-origin: center;
  }
  .article__Icon:hover .far {
    transform: scale(1);
    transition: transform 400ms;
    transform-origin: center;
  }
  .article__Icon:hover .far + .fas {
    transform: scale(1);
    transition: transform 400ms;
    transform-origin: center;
  }
}
@media screen and (max-device-width: 480px) {
  .article__Icon {
    display: flex;
    margin-top: -10px;
    cursor: pointer;
  }
  .article__Icon .far {
    font-size: 1.5rem;
    margin-bottom: 10%;
    color: #9356DC;
  }
  .article__Icon .fas {
    font-size: 1.5rem;
    margin-bottom: 10%;
    color: #9356DC;
  }
  .article__Icon .far + .fas {
    position: relative;
    left: -1.5rem;
    transform: scale(0);
    cursor: pointer;
    transform-origin: center;
  }
  .article__Icon:hover .far {
    transform: scale(1);
    transition: transform 400ms;
    transform-origin: center;
  }
  .article__Icon:hover .far + .fas {
    transform: scale(1);
    transition: transform 400ms;
    transform-origin: center;
  }
}
.article__Ecrit {
  display: flex;
}
.article__Ecrit--Link {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.article__Ecrit--Title {
  text-decoration: none;
  font-size: 1.3rem;
  width: 55%;
  margin-bottom: -10px;
  margin-left: 20px;
}
.article__Ecrit--Text {
  text-decoration: none;
  font-size: 1.2rem;
  width: 55%;
  margin-left: 20px;
}

@media screen and (max-device-width: 768px) {
  .article__Ecrit {
    display: flex;
  }
  .article__Ecrit--Link {
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .article__Ecrit--Title {
    text-decoration: none;
    font-size: 1.3rem;
    width: 55%;
    margin-bottom: -5px;
    margin-left: 15px;
  }
  .article__Ecrit--Text {
    text-decoration: none;
    font-size: 1rem;
    width: 55%;
    margin-left: 15px;
  }
}
@media screen and (max-device-width: 480px) {
  .article__Ecrit {
    display: flex;
  }
  .article__Ecrit--Title {
    font-size: 1rem;
  }
  .article__Ecrit--Text {
    font-size: 0.8rem;
  }
}
.headerPages {
  display: flex;
  align-items: center;
}
.headerPages__Icon {
  width: 25%;
  margin-left: 5%;
}
.headerPages__Icon--Img {
  color: black;
  font-size: 3rem;
}
.headerPages__Logo {
  width: 30%;
  margin-left: 5%;
}
.headerPages__Logo--Title {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand";
  font-size: 3rem;
}

@media screen and (max-device-width: 768px) {
  .headerPages__Icon--Img {
    font-size: 1.5rem;
  }
  .headerPages__Logo {
    width: 30%;
  }
  .headerPages__Logo--Title {
    font-size: 2rem;
  }
}
.articlePagesContent {
  display: flex;
  flex-flow: column;
  padding-top: 5%;
  animation: roll 2s;
}
.articlePagesContent__Head {
  margin-left: 5%;
}
.articlePagesContent__Head--Titre {
  border-bottom: 5px solid #99E2D0;
  width: 5%;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-device-width: 768px) {
  .articlePagesContent {
    background-color: whitesmoke;
  }
  .articlePagesContent__Head {
    margin-left: 5%;
  }
  .articlePagesContent__Head--Titre {
    font-size: 1rem;
    width: 10%;
  }
}
.articlePagesContent__Entree, .articlePagesContent__Plats, .articlePagesContent__Desserts {
  box-shadow: 0 0 10px #969696;
  margin-left: 20%;
  margin-right: 0;
  width: 70%;
  height: 7rem;
  margin-bottom: 5%;
  border-radius: 2rem;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.articlePagesContent__Entree:hover .articlePagesContent__Entree--Details, .articlePagesContent__Plats:hover .articlePagesContent__Entree--Details, .articlePagesContent__Desserts:hover .articlePagesContent__Entree--Details {
  transform: scale(1);
}
.articlePagesContent__Entree:hover .articlePagesContent__Entree--Coche, .articlePagesContent__Plats:hover .articlePagesContent__Entree--Coche, .articlePagesContent__Desserts:hover .articlePagesContent__Entree--Coche {
  transform: scale(1);
}
.articlePagesContent__Entree:hover .articlePagesContent__Plats--Details, .articlePagesContent__Plats:hover .articlePagesContent__Plats--Details, .articlePagesContent__Desserts:hover .articlePagesContent__Plats--Details {
  transform: scale(1);
}
.articlePagesContent__Entree:hover .articlePagesContent__Plats--Coche, .articlePagesContent__Plats:hover .articlePagesContent__Plats--Coche, .articlePagesContent__Desserts:hover .articlePagesContent__Plats--Coche {
  transform: scale(1);
}
.articlePagesContent__Entree:hover .articlePagesContent__Desserts--Details, .articlePagesContent__Plats:hover .articlePagesContent__Desserts--Details, .articlePagesContent__Desserts:hover .articlePagesContent__Desserts--Details {
  transform: scale(1);
}
.articlePagesContent__Entree:hover .articlePagesContent__Desserts--Coche, .articlePagesContent__Plats:hover .articlePagesContent__Desserts--Coche, .articlePagesContent__Desserts:hover .articlePagesContent__Desserts--Coche {
  transform: scale(1);
}
.articlePagesContent__Entree--Details, .articlePagesContent__Plats--Details, .articlePagesContent__Desserts--Details {
  width: 95%;
  margin-left: 2%;
  font-family: "Roboto";
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  transform-origin: left;
  transform: scaleX(1.15);
  transition: transform 600ms;
}
.articlePagesContent__Entree--Details:hover, .articlePagesContent__Plats--Details:hover, .articlePagesContent__Desserts--Details:hover {
  transform: scaleX(1);
}
.articlePagesContent__Entree--Title, .articlePagesContent__Plats--Title, .articlePagesContent__Desserts--Title {
  width: 70%;
  margin-bottom: -2%;
}
.articlePagesContent__Entree--Text, .articlePagesContent__Plats--Text, .articlePagesContent__Desserts--Text {
  width: 70%;
  font-size: 0.9rem;
}
.articlePagesContent__Entree--Price, .articlePagesContent__Plats--Price, .articlePagesContent__Desserts--Price {
  width: 30%;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-device-width: 768px) {
  .articlePagesContent__Entree, .articlePagesContent__Plats, .articlePagesContent__Desserts {
    margin-left: 2%;
    margin-right: 0;
    width: 90%;
    height: 5rem;
    border-radius: 1rem;
  }
  .articlePagesContent__Entree--Details, .articlePagesContent__Plats--Details, .articlePagesContent__Desserts--Details {
    width: 100%;
    transform: scaleX(1.2);
    transition: transform 600ms;
  }
  .articlePagesContent__Entree--Details:hover, .articlePagesContent__Plats--Details:hover, .articlePagesContent__Desserts--Details:hover {
    transform: scaleX(1);
  }
  .articlePagesContent__Entree--Title, .articlePagesContent__Plats--Title, .articlePagesContent__Desserts--Title {
    margin-bottom: -1%;
    font-size: 1.1rem;
    width: 100%;
  }
  .articlePagesContent__Entree--Text, .articlePagesContent__Plats--Text, .articlePagesContent__Desserts--Text {
    font-size: 0.7rem;
  }
  .articlePagesContent__Entree--Price, .articlePagesContent__Plats--Price, .articlePagesContent__Desserts--Price {
    font-size: 0.8rem;
  }
}
@media screen and (max-device-width: 480px) {
  .articlePagesContent__Entree, .articlePagesContent__Plats, .articlePagesContent__Desserts {
    margin-left: 2%;
    margin-right: 0;
    width: 90%;
    height: 4rem;
    border-radius: 1rem;
  }
  .articlePagesContent__Entree--Details, .articlePagesContent__Plats--Details, .articlePagesContent__Desserts--Details {
    width: 100%;
    transform: scaleX(1.26);
    transition: transform 600ms;
  }
  .articlePagesContent__Entree--Details:hover, .articlePagesContent__Plats--Details:hover, .articlePagesContent__Desserts--Details:hover {
    transform: scaleX(1);
  }
  .articlePagesContent__Entree--Title, .articlePagesContent__Plats--Title, .articlePagesContent__Desserts--Title {
    font-size: 0.7rem;
    width: 90%;
  }
  .articlePagesContent__Entree--Text, .articlePagesContent__Plats--Text, .articlePagesContent__Desserts--Text {
    font-size: 0.5rem;
    width: 80%;
    margin-top: 2%;
  }
  .articlePagesContent__Entree--Price, .articlePagesContent__Plats--Price, .articlePagesContent__Desserts--Price {
    font-size: 0.6rem;
    width: 20%;
  }
}
.articlePagesContent__Entree--Coche, .articlePagesContent__Plats--Coche, .articlePagesContent__Desserts--Coche {
  width: 10%;
  position: relative;
  background-color: #99E2D0;
  padding-right: 3rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 600ms;
}
.articlePagesContent__Entree--Coche:hover, .articlePagesContent__Plats--Coche:hover, .articlePagesContent__Desserts--Coche:hover {
  transform: scaleX(1);
}
.articlePagesContent__Entree--Wrap, .articlePagesContent__Plats--Wrap, .articlePagesContent__Desserts--Wrap {
  color: white;
  margin-left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  transform: rotate(2turn);
  transform-origin: center;
  transition-duration: 2s;
}
.articlePagesContent__Entree:hover .articlePagesContent__Entree--Wrap, .articlePagesContent__Entree:hover .articlePagesContent__Plats--Wrap, .articlePagesContent__Entree:hover .articlePagesContent__Desserts--Wrap, .articlePagesContent__Plats:hover .articlePagesContent__Entree--Wrap, .articlePagesContent__Plats:hover .articlePagesContent__Plats--Wrap, .articlePagesContent__Plats:hover .articlePagesContent__Desserts--Wrap, .articlePagesContent__Desserts:hover .articlePagesContent__Entree--Wrap, .articlePagesContent__Desserts:hover .articlePagesContent__Plats--Wrap, .articlePagesContent__Desserts:hover .articlePagesContent__Desserts--Wrap {
  transform: rotate(0);
}

@media screen and (max-device-width: 768px) {
  .articlePagesContent__Entree--Coche, .articlePagesContent__Plats--Coche, .articlePagesContent__Desserts--Coche {
    background-color: #99E2D0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .articlePagesContent__Entree--Wrap, .articlePagesContent__Plats--Wrap, .articlePagesContent__Desserts--Wrap {
    margin-left: 3rem;
    font-size: 2rem;
  }
  .articlePagesContent__Entree--Icon, .articlePagesContent__Plats--Icon, .articlePagesContent__Desserts--Icon {
    color: white;
  }
}
.aside {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.aside__Title--Text {
  font-family: "Roboto", sans-serif;
  margin-left: 2%;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .aside__Title--Text {
    font-size: 1.7rem;
  }
}
@media screen and (max-device-width: 480px) {
  .aside__Title--Text {
    font-size: 1.2rem;
  }
}
.aside__Fonct {
  display: flex;
  flex-flow: column;
  padding-left: 2%;
}
.aside__Fonct--Steps {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
  animation: roll 0.6s;
}

.aside__Steps--Step:hover .aside__Steps--Icon {
  color: #9356DC;
}

.aside__Steps--Step {
  cursor: pointer;
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  margin-right: 2%;
  position: relative;
}
.aside__Steps--Step::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.75rem;
}
.aside__Steps--Icon {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #969696;
}
.aside__Steps--Text {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-device-width: 768px) {
  .aside__Steps--Icon {
    font-size: 0.8rem;
  }
  .aside__Steps--Text {
    font-size: 0.8rem;
  }
}
.footer {
  background-color: #1e1e1e;
  padding: 10px;
}
.footer__Article--Title {
  font-size: 2rem;
  font-family: "Shrikhand";
  color: white;
  margin-left: 1%;
}

.footer__Descrip--Icon {
  color: white;
  margin-left: 1%;
  text-decoration: none;
}
.footer__Descrip--Text {
  color: white;
  margin-left: 1%;
  text-decoration: none;
}
.footer__Descrip--Text:hover {
  text-decoration: underline;
}
.footer__Descrip--Link {
  color: white;
  margin-left: 1%;
  text-decoration: none;
}

@media screen and (max-device-width: 768px) {
  .footer {
    background-color: #1e1e1e;
  }
  .footer__Article--Title {
    font-size: 1.5rem;
    font-family: "Shrikhand";
    color: white;
    margin-left: 1%;
  }

  .footer__Descrip--Icon {
    font-size: 0.6rem;
    color: white;
    margin-left: 2%;
    text-decoration: none;
  }
  .footer__Descrip--Text {
    color: white;
    font-size: 0.9rem;
    margin-left: 2%;
    text-decoration: none;
  }
  .footer__Descrip--Link {
    color: white;
    margin-left: 2%;
    text-decoration: none;
  }
}
.article__Image {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.article__Image--Img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.article__Image--Nvx {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #136954;
  background-color: #99E2D0;
  position: absolute;
  margin-right: 2%;
  padding: 0.7rem;
  border-radius: 0.8rem;
}

@media screen and (max-device-width: 768px) {
  .article__Image {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  .article__Image--Img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }
  .article__Image--Nvx {
    color: #136954;
    background-color: #99E2D0;
    padding: 1% 2%;
    margin-right: 2%;
    font-size: 0.7rem;
    border-radius: 0.4rem;
    position: absolute;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-device-width: 480px) {
  .article__Image--Img {
    height: 8rem;
  }
}
.articlePages__Images {
  display: flex;
  justify-content: center;
  width: 100%;
}
.articlePages__Images--Img {
  border-radius: 10rem;
  box-shadow: 2px 2px 5px #969696;
  width: 90%;
  height: 12rem;
  object-fit: cover;
}

@media screen and (max-device-width: 768px) {
  .articlePages__Images {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: -8%;
  }
  .articlePages__Images--Img {
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    height: 7rem;
    object-fit: cover;
  }
}
.articlePagesContent__Titre {
  padding: 5%;
  display: flex;
  justify-content: space-between;
}
.articlePagesContent__Titre--Title {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-device-width: 768px) {
  .articlePagesContent__Titre {
    position: relative;
    padding: 0;
    padding-left: 5%;
    padding-right: 5%;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  .articlePagesContent__Titre--Title {
    font-size: 1.5rem;
  }
}
.article__IconMenu {
  display: flex;
  align-items: center;
  font-size: 3rem;
}
.article__IconMenu--true {
  color: #9356DC;
}
.article__IconMenu--false {
  color: #9356DC;
}

@media screen and (max-device-width: 768px) {
  .article__IconMenu {
    font-size: 1.5rem;
  }
}
.navigation {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
}
.navigation__Bloc {
  display: flex;
  justify-content: center;
}
.navigation__Bloc--Title {
  font-size: 2rem;
  text-align: center;
}
.navigation__Bloc--Text {
  font-size: 1.5rem;
  text-align: center;
}
.navigation__Bloc--Button {
  border: none;
  box-shadow: 2px 2px 5px #969696;
  font-size: 1.5rem;
  margin-top: 2%;
  margin-bottom: 5%;
  padding: 2%;
  border-radius: 3rem;
  color: white;
  background: linear-gradient(#9356DC, #FF79DA);
  transform: scale(1);
  transition: transform 600ms;
}
.navigation__Bloc--Button:hover {
  transform: scale(1.15);
  background: linear-gradient(#FF79DA, #9356DC);
}

@media screen and (max-device-width: 768px) {
  .navigation__Bloc--Title {
    font-size: 1.5rem;
    width: 45%;
    margin-bottom: -1%;
  }
  .navigation__Bloc--Text {
    font-size: 1rem;
    width: 55%;
  }
  .navigation__Bloc--Button {
    font-size: 1rem;
    background: linear-gradient(#9356DC, #FF79DA);
    transform: scale(1);
    transition: transform 600ms;
  }
  .navigation__Bloc--Button:hover {
    transform: scale(1.15);
    background: linear-gradient(#FF79DA, #9356DC);
  }
}
@media screen and (max-device-width: 480px) {
  .navigation__Bloc--Title {
    font-size: 1rem;
  }
  .navigation__Bloc--Text {
    font-size: 0.7rem;
  }
  .navigation__Bloc--Button {
    font-size: 0.7rem;
  }
}
/*Logo + Titre*/
/*Text*/
body {
  padding: 0;
  margin: 0;
}

.header__Logo {
  display: flex;
  justify-content: center;
}
.header__Logo--Title {
  font-family: "Shrikhand";
  font-size: 4rem;
}
.header__Lieu {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 3px 10px #969696;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: whitesmoke;
  padding-left: 5%;
}
.header__Lieu--Icon {
  font-size: 2rem;
  background-color: whitesmoke;
}
.header__Lieu--Text {
  font-size: 1.5rem;
  border: none;
  background-color: whitesmoke;
  margin-left: 5%;
}

@media screen and (max-device-width: 768px) {
  .header__Logo--Title {
    font-size: 2.5rem;
  }
  .header__Lieu {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .header__Lieu--Icon {
    font-size: 1rem;
    margin-left: 5%;
  }
  .header__Lieu--Text {
    font-size: 1rem;
  }
}
@media screen and (max-device-width: 480px) {
  .header__Logo--Title {
    font-size: 2.5rem;
  }
  .header__Lieu {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .header__Lieu--Icon {
    font-size: 0.8rem;
    margin-left: 5%;
  }
  .header__Lieu--Text {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
