.article{
    border: 2px solid black;
    &__Head{
        border: 1px solid red;
    }
    &__Bloc{
        border: 1px solid red;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 2%;
    }
}

.article__Container{
    border: 1px solid blue;
    width: 45%;
    margin: 2%;
    border-radius: 2rem;
}

@media (max-width: 768px){
    .article{
        border: 2px solid black;
        &__Head{
            border: 1px solid red;
        }
        &__Bloc{
            border: 1px solid red;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            margin: 2%;
        }
    }
    
    .article__Container{
        border: 1px solid blue;
        width: 90%;
        margin: 2%;
        border-radius: 2rem;
    }
}