.article__Icon{
    display: flex;
    margin-top: -10px;
    cursor: pointer;
    & .far {
        font-size: 2.5rem;
        margin-bottom: 10%;
        color: $primary-color;
    }
    & .fas{
        font-size: 2.5rem;
        margin-bottom: 10%;
        color: $primary-color;
    }
    & .far + .fas {
        position: relative;
        left: -2.5rem;
        transform: scale(0);
        cursor: pointer;
        transform-origin: center;
        
    }
    &:hover .far{
        transform: scale(1);
        transition: transform 400ms;
        transform-origin: center;
    }

    &:hover .far + .fas {
        transform: scale(1);
        transition: transform 400ms;
        transform-origin: center;
    }
}

@media screen and (max-device-width: 768px){
    .article__Icon{
        display: flex;
        margin-top: -10px;
        cursor: pointer;
        & .far {
            font-size: 2rem;
            margin-bottom: 10%;
            color: $primary-color;
        }
        & .fas{
            font-size: 2rem;
            margin-bottom: 10%;
            color: $primary-color;
        }
        & .far + .fas {
            position: relative;
            left: -2rem;
            transform: scale(0);
            cursor: pointer;
            transform-origin: center;
            
        }
        &:hover .far{
            transform: scale(1);
            transition: transform 400ms;
            transform-origin: center;
        }
    
        &:hover .far + .fas {
            transform: scale(1);
            transition: transform 400ms;
            transform-origin: center;
        }
    }
}

@media screen and (max-device-width: 480px){
    .article__Icon{
        display: flex;
        margin-top: -10px;
        cursor: pointer;
        & .far {
            font-size: 1.5rem;
            margin-bottom: 10%;
            color: $primary-color;
        }
        & .fas{
            font-size: 1.5rem;
            margin-bottom: 10%;
            color: $primary-color;
        }
        & .far + .fas {
            position: relative;
            left: -1.5rem;
            transform: scale(0);
            cursor: pointer;
            transform-origin: center;
            
        }
        &:hover .far{
            transform: scale(1);
            transition: transform 400ms;
            transform-origin: center;
        }
    
        &:hover .far + .fas {
            transform: scale(1);
            transition: transform 400ms;
            transform-origin: center;
        }
    }
}