.article__Image{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    &--Img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }
    &--Nvx{
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        color: $txtcolor-nvx;
        background-color: $tertiary-color;
        position: absolute;
        margin-right: 2%;
        padding: 0.7rem;
        border-radius: 0.8rem;
    }
}

@media screen and (max-device-width: 768px){
    .article__Image{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        &--Img{
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            width: 100%;
            height: 10rem;
            object-fit: cover;
        }
        &--Nvx{
            color: $txtcolor-nvx;
            background-color: $tertiary-color;
            padding: 1% 2%;
            margin-right: 2%;
            font-size: 0.7rem;
            border-radius: 0.4rem;
            position: absolute;
            display: flex;
            justify-content: center;
        }
    }
}
@media screen and (max-device-width: 480px){
    .article__Image{
        &--Img{
            height: 8rem;
        }
    }
}


.articlePages{
    &__Images{
        display: flex;
        justify-content: center;
        width: 100%;
        &--Img{
            border-radius: 10rem;
            box-shadow: 2px 2px 5px rgb(150, 150, 150);
            width: 90%;
            height: 12rem;
            object-fit: cover;
        }
    }
}
@media screen and (max-device-width: 768px){
    .articlePages{
        &__Images{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: -8%;
            &--Img{
                border-radius: 0;
                box-shadow: none;
                width: 100%;
                height: 7rem;
                object-fit: cover;
            }
        }
    }
}