.navigation{
    font-family: "Roboto", sans-serif;
    background-color: whitesmoke;
    &__Bloc{
        display: flex;
        justify-content: center;
        &--Title{
            font-size: 2rem;
            text-align: center;
        }
        &--Text{
            font-size: 1.5rem;
            text-align: center;
        }
    }
}

@media screen and (max-width: 768px){
    .navigation__Bloc{
        &--Title{
            font-size: 2rem;
            width: 70%;
            margin-bottom: -1%;
        }
        &--Text{
            font-size: 1.3rem;
            width: 90%;
        }
    }
}
@media screen and (max-width:480px){
    .navigation__Bloc{
        &--Title{
            font-size: 1.2rem;
        }
        &--Text{
            font-size: 1rem;
        }
    }
}