.navigation{
    border: 1px solid red;
    font-family: "Roboto", sans-serif;
    background-color: whitesmoke;
    &__Bloc{
        border: 1px solid green;
        display: flex;
        justify-content: center;
        &--Title{
            border: 1px solid blue;
            font-size: 2rem;
            width: 35%;
            text-align: center;
        }
        &--Text{
            border: 1px solid blue;
            font-size: 1.5rem;
            width: 45%;
            text-align: center;
        }
        &--Button{
            border: 1px solid blue;
            font-size: 2rem;
            margin-top: 2%;
            margin-bottom: 2%;
            padding: 2%;
            border-radius: 3rem;
        }
    }
}