.navigation{
    font-family: "Roboto", sans-serif;
    background-color: whitesmoke;
    &__Bloc{
        display: flex;
        justify-content: center;
        &--Title{
            font-size: 2rem;
            text-align: center;
        }
        &--Text{
            font-size: 1.5rem;
            text-align: center;
        }
        &--Button{
            border: none;
            box-shadow: 2px 2px 5px rgb(150, 150, 150);
            font-size: 1.5rem;
            margin-top: 2%;
            margin-bottom: 5%;
            padding: 2%;
            border-radius: 3rem;
            color: white;
            background: linear-gradient($primary-color, $secondary-color);
            transform: scale(1);
            transition: transform 600ms;
            &:hover{
                transform: scale(1.15);
                background: linear-gradient($secondary-color, $primary-color);
            }
        }
    }
}

@media screen and (max-device-width: 480px){
    .navigation__Bloc{
        &--Title{
            font-size: 0.9rem;
            width: 45%;
        }
        &--Text{
            font-size: 0.6rem;
            width: 55%;
        }
        &--Button{
            font-size: 0.6rem;
            background: linear-gradient($primary-color, $secondary-color);
            transform: scale(1);
            transition: transform 600ms;
            &:hover{
                transform: scale(1.15);
                background: linear-gradient($secondary-color, $primary-color);
            }
        }
    }
}