@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap'); /*Logo + Titre*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /*Text*/

body{
    padding: 0;
    margin: 0;
}

p{
    font-family: "Roboto", sans-serif;
}