.articlePageContent{
    display: flex;
    flex-flow: column;
    padding-top: 5%;
    animation: roll 2s;
    &__Head{
        padding-left: 5%;
        &--Titre{
            border-bottom: 3px solid $tertiary-color;
            width: 5%;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
        }
    }
}
@media screen and (max-width: 768px){
    .articlePageContent{
        background-color: whitesmoke;
        &__Head{
            border: 1px solid transparent;
            padding-left: 5%;
            background-color: whitesmoke;
            &--Titre{
                font-size: 1rem;
                width: 6%;
            }
        }
    }
    .articlePages{
        background-color: whitesmoke;
    }
}


.articlePagesContent__Entree, .articlePagesContent__Plats, .articlePagesContent__Desserts{
    box-shadow: 0 0 10px rgb(150, 150, 150);
    margin-left: 20%;
    margin-right: 0;
    width: 70%;
    height: 7rem;
    margin-bottom: 5%;
    border-radius: 2rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    animation: roll 3s;
    cursor: pointer;
    &:hover .articlePagesContent__Entree--Price{
        transform: translateX(0%);
    }
    &:hover .articlePagesContent__Entree--Coche{
        transform: scale(1);
    }
    &:hover .articlePagesContent__Plats--Price{
        transform: translateX(0%);
    }
    &:hover .articlePagesContent__Plats--Coche{
        transform: scale(1);
    }
    &:hover .articlePagesContent__Desserts--Price{
        transform: translateX(0%);
    }
    &:hover .articlePagesContent__Desserts--Coche{
        transform: scale(1);
    }
    &--Details{
        width: 90%;
        padding-left: 3%;
        font-family: "Roboto";
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    &--Title{
        width: 70%;
        margin-bottom: -3%;
        font-size: 1.3rem;
        text-overflow: ellipsis;
    }
    &--Text{
        width: 75%;
        font-size: 1rem;
        text-overflow: ellipsis;
    }
    &--Price{
        width: 20%;
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        font-size: 1.2rem;
        transform: translateX(102%);
        transition: transform 600ms;
    }
}

@media screen and (max-width: 768px){
    .articlePagesContent__Entree, .articlePagesContent__Plats, .articlePagesContent__Desserts{
        margin-left: 5%;
        margin-right: 0;
        width: 90%;
        height: 5rem;
        border-radius: 1rem;
        &--Details{
            width: 100%;
        }
        &--Title{
            margin-bottom: -1.2%;
            font-size: 1.2rem;
            width: 100%;
        }
        &--Text{
            font-size: 0.9rem;
        }
        &--Price{
            font-size: 1rem;
            transform: translateX(122%);
            transition: transform 600ms;
            &:hover{
                transform: translateX(0);
            }
            
        }
    }
}
@media screen and (max-width:480px){
    .articlePagesContent__Entree, .articlePagesContent__Plats, .articlePagesContent__Desserts{
        margin-left: 5%;
        margin-right: 0;
        width: 90%;
        height: 4rem;
        border-radius: 1rem;
        &--Details{
            width: 100%;
        }
        &--Title{
            font-size: 0.7rem;
            width: 90%;
            
        }
        &--Text{
            font-size: 0.6rem;
            width: 80%;
            margin-top: 2%;
        }
        &--Price{
            font-size: 0.6rem;
            width: 20%;
        }
    }
}


.articlePagesContent__Entree, .articlePagesContent__Plats, .articlePagesContent__Desserts{
    &--Coche{
        width: 10%;
        position: relative;
        background-color: $tertiary-color;
        padding-right: 3rem;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transform-origin: center right;
        transform: scaleX(0);
        transition: transform 600ms;
        &:hover{
            transform: scaleX(1);
        }
    }
    &--Wrap{
        color: white;
        margin-left: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        transform: rotate(2turn);
        transform-origin: center;
        transition-duration: 2s;
    }
    &:hover &--Wrap{
        transform: rotate(0);
    }
}
@media screen and (max-width: 768px){
    .articlePagesContent__Entree, .articlePagesContent__Plats, .articlePagesContent__Desserts{
        &--Coche{
            background-color: $tertiary-color;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
        &--Wrap{
            margin-left: 3rem;
            font-size: 2rem;
        }
        &--Icon{
            color: white;
        }
    }
}